@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@if (User.Identity.IsAuthenticated)
{
    <ul class="pull-right">
        <li class="dropdown">
            <a data-toggle="dropdown" href="" aria-expanded="true">@User.Identity.Name</a>
            <ul class="dropdown-menu dm-icon pull-right">
                <li>
                    <a asp-controller="Manage" asp-action="Index" title="Manage"><i class="zmdi zmdi-settings"></i>Configurações</a>
                </li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {

                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="zmdi zmdi-time-restore"></i> Sair</a>
                    }
                </li>
            </ul>
        </li>
    </ul>

    @*<ul class="navbar-right">

            <li class="waves-effect">
               image
            </li>
            <li class="waves-effect">
               Nome de usuário

            </li>
            <li class="dropdown ">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Alterar Senha", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li><a>Preferências</a></li>
                    <li class="divider"></li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {

                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a> </li>
                    }
                </ul>
            </li>
        </ul>*@
}

@if (!User.Identity.IsAuthenticated)
{
    <ul class="navbar-right">
        <li class="waves-effect"><a asp-controller="Account" asp-action="Register">Cadastre-se</a></li>
        <li class="waves-effect"><a asp-controller="Account" asp-action="Login">Entrar</a></li>
    </ul>
}
